
body {
    background-image:url("background-img.jpg");
    background-repeat: no-repeat;
    height: 900px;
    background-size: cover;
}

h1 {
    font-family: "Roboto";
    font-size: 50px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    filter: drop-shadow(1px 1px 1px #000000);
    text-align: center;
    margin-bottom: 0;
  }

p {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    text-align: center;
    margin-top:5px;
  }

.justify-center {
    display: flex;
    justify-content: center;
}

button {
    background: #553c9a;
    border-radius: 999px;
    box-shadow: #553c9a 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    /* outline: 0 solid transparent; */
    padding: 8px 18px;
    /* user-select: none; */
    /* -webkit-user-select: none; */
    /* touch-action: manipulation; */
    /* width: fit-content; */
    /* word-break: break-word; */
    border: 0;
}
